<h1>Recent Posts</h1>


<% @blogs.each do |b| %>

    <div>Title: <%= b.title%></div>
    <div><%= b.content %></div>
    <div><%= b.date %></div>
    <% id= b.user_id %>
    <div><%= User.find(id).name %></div>


  <hr>
<% end %>

<h3>Current Users</h3>
<% @users.each do |u| %>
  <a href="/show/<%= u.id %>/profile">
    <%= u.name %>
  </a>
  <hr>
<% end %>
