<div class="mainPage">
  <div class="leftUsers">
    <h3>Current Users</h3>
    <% @users.each do |u| %>
      <div class="userDiv">
        <a href="/show/<%= u.id %>/profile"><%= u.name %></a>
      </div>
    <% end %>
  </div>

  <div class="rightPosts">
    <h1>Recent Posts</h1>


    <% @blogs.reverse.take(10).each do |b| %>
      <div class="postDiv">
        <div id="postTitle"><strong><%= b.title%></strong></div>
        <div id="postContent"><%= b.content %></div>
        <% id= b.user_id %>
        <div id="postAuthorDate">Posted By: <span style="color:#0099FF;"><%= User.find(id).name %></span> on <%= b.date %></div>
      </div>
    <% end %>
  </div>
</div>
