<% if current_user  &&  current_user.id == @user.id%>
  <div><%= 'hello' %><div>
<% else %>
<div>
  <%= @user.name %>
  <% blogs = @user.blogs %>

  <% blogs.each do |b| %>

      <div>Title: <%= b.title%></div>
      <div><%= b.content %></div>
      <div><%= b.date %></div>

  <% end %>
</div>
<% end %>
